Repository k2-fsa/icefall, pull requests merged in 2022-10, with the labels that each got.

#584 exporting projection layers of joiner separately for onnx
  .github/scripts/run-librispeech-pruned-transducer-stateless3-2022-05-13.sh
  egs/librispeech/ASR/pruned_transducer_stateless3/export.py
  egs/librispeech/ASR/pruned_transducer_stateless3/onnx_check.py
  egs/librispeech/ASR/pruned_transducer_stateless3/onnx_pretrained.py
Labels: onnx

#614 Remove all-in-one for onnx export
  .github/scripts/compute-fbank-librispeech-test-clean-and-test-other.sh
  .github/scripts/download-gigaspeech-dev-test-dataset.sh
  .github/scripts/download-librispeech-test-clean-and-test-other-dataset.sh
  .github/scripts/install-kaldifeat.sh
  .github/scripts/prepare-librispeech-test-clean-and-test-other-manifests.sh
  .github/scripts/run-aishell-pruned-transducer-stateless3-2022-06-20.sh
  .github/scripts/run-gigaspeech-pruned-transducer-stateless2-2022-05-12.sh
  .github/scripts/run-librispeech-lstm-transducer-stateless2-2022-09-03.yml
  .github/scripts/run-librispeech-pruned-transducer-stateless-2022-03-12.sh
  .github/scripts/run-librispeech-pruned-transducer-stateless2-2022-04-29.sh
  .github/scripts/run-librispeech-pruned-transducer-stateless3-2022-04-29.sh
  .github/scripts/run-librispeech-pruned-transducer-stateless3-2022-05-13.sh
  .github/scripts/run-librispeech-pruned-transducer-stateless5-2022-05-13.sh
  .github/scripts/run-librispeech-streaming-pruned-transducer-stateless2-2022-06-26.sh
  .github/scripts/run-librispeech-transducer-stateless2-2022-04-19.sh
  .github/scripts/run-pre-trained-conformer-ctc.sh
  .github/scripts/run-pre-trained-transducer-stateless-librispeech-100h.sh
  .github/scripts/run-pre-trained-transducer-stateless-librispeech-960h.sh
  .github/scripts/run-pre-trained-transducer-stateless-modified-2-aishell.sh
  .github/scripts/run-pre-trained-transducer-stateless-modified-aishell.sh
  .github/scripts/run-pre-trained-transducer-stateless.sh
  .github/scripts/run-pre-trained-transducer.sh
  egs/librispeech/ASR/pruned_transducer_stateless2/conformer.py
  egs/librispeech/ASR/pruned_transducer_stateless3/export.py
  egs/librispeech/ASR/pruned_transducer_stateless3/onnx_check.py
  egs/librispeech/ASR/pruned_transducer_stateless3/onnx_check_all_in_one.py
  egs/librispeech/ASR/pruned_transducer_stateless3/onnx_pretrained.py
  egs/librispeech/ASR/pruned_transducer_stateless3/test_onnx.py
  requirements.txt
Labels: ready, onnx

#612 Modify ActivationBalancer for speed
  .github/scripts/run-pre-trained-conformer-ctc.sh
  egs/librispeech/ASR/pruned_transducer_stateless2/conformer.py
  egs/librispeech/ASR/pruned_transducer_stateless2/scaling.py
  egs/librispeech/ASR/pruned_transducer_stateless3/scaling_converter.py
Labels: ready

#621 Support exporting LSTM with projection to ONNX
  .github/scripts/run-aishell-pruned-transducer-stateless3-2022-06-20.sh
  .github/scripts/run-librispeech-lstm-transducer-stateless2-2022-09-03.yml
  .github/scripts/run-librispeech-pruned-transducer-stateless2-2022-04-29.sh
  .github/workflows/run-librispeech-lstm-transducer-stateless2-2022-09-03.yml
  egs/librispeech/ASR/lstm_transducer_stateless/lstmp.py
  egs/librispeech/ASR/lstm_transducer_stateless2/export.py
  egs/librispeech/ASR/lstm_transducer_stateless2/lstmp.py
  egs/librispeech/ASR/lstm_transducer_stateless2/streaming-ncnn-decode.py
  egs/librispeech/ASR/lstm_transducer_stateless2/streaming-onnx-decode.py
  egs/librispeech/ASR/lstm_transducer_stateless2/test_lstmp.py
  egs/librispeech/ASR/lstm_transducer_stateless3/lstmp.py
  egs/librispeech/ASR/pruned_transducer_stateless3/lstmp.py
  egs/librispeech/ASR/pruned_transducer_stateless3/scaling_converter.py
  egs/wenetspeech/ASR/pruned_transducer_stateless2/lstmp.py
Labels: onnx

#632 Install kaldifst for GitHub actions
  .github/scripts/run-librispeech-pruned-transducer-stateless3-2022-04-29.sh
  requirements-ci.txt
Labels: ready

#640 Remove onnx and onnxruntime from requirements.txt
  egs/librispeech/ASR/lstm_transducer_stateless2/streaming-onnx-decode.py
  egs/librispeech/ASR/pruned_transducer_stateless3/onnx_check.py
  egs/librispeech/ASR/pruned_transducer_stateless3/test_onnx.py
  egs/librispeech/ASR/pruned_transducer_stateless6/model.py
  egs/librispeech/ASR/pruned_transducer_stateless6/vq_utils.py
  egs/wenetspeech/ASR/pruned_transducer_stateless2/onnx_check.py
  egs/wenetspeech/ASR/pruned_transducer_stateless2/onnx_pretrained.py
  icefall/__init__.py
  icefall/ngram_lm.py
  icefall/utils.py
  requirements.txt
  test/test_ngram_lm.py
Labels: ready
