Repository k2-fsa/icefall, pull requests merged in 2023-10, with the labels that each got.

#1287 Add CTC HLG decoding for zipformer
  .github/scripts/run-pre-trained-ctc.sh
  .github/workflows/run-pretrained-ctc.yml
  egs/librispeech/ASR/conformer_ctc/jit_pretrained_decode_with_H.py
  egs/librispeech/ASR/conformer_ctc/jit_pretrained_decode_with_HL.py
  egs/librispeech/ASR/conformer_ctc/jit_pretrained_decode_with_HLG.py
  egs/librispeech/ASR/zipformer/export-onnx-ctc.py
  egs/librispeech/ASR/zipformer/onnx_pretrained_ctc.py
  egs/librispeech/ASR/zipformer/onnx_pretrained_ctc_H.py
  egs/librispeech/ASR/zipformer/onnx_pretrained_ctc_HL.py
  egs/librispeech/ASR/zipformer/onnx_pretrained_ctc_HLG.py
Labels: ctc

#1146 Init commit for swbd
  .github/scripts/run-swbd-conformer-ctc-2023-08-26.sh
  .github/workflows/run-swbd-conformer-ctc.yml
  egs/swbd/ASR/.gitignore
  egs/swbd/ASR/README.md
  egs/swbd/ASR/RESULTS.md
  egs/swbd/ASR/conformer_ctc/__init__.py
  egs/swbd/ASR/conformer_ctc/asr_datamodule.py
  egs/swbd/ASR/conformer_ctc/conformer.py
  egs/swbd/ASR/conformer_ctc/decode.py
  egs/swbd/ASR/conformer_ctc/export.py
  egs/swbd/ASR/conformer_ctc/label_smoothing.py
  egs/swbd/ASR/conformer_ctc/pretrained.py
  egs/swbd/ASR/conformer_ctc/sclite_scoring.py
  egs/swbd/ASR/conformer_ctc/subsampling.py
  egs/swbd/ASR/conformer_ctc/test_label_smoothing.py
  egs/swbd/ASR/conformer_ctc/test_subsampling.py
  egs/swbd/ASR/conformer_ctc/test_transformer.py
  egs/swbd/ASR/conformer_ctc/train.py
  egs/swbd/ASR/conformer_ctc/transformer.py
  egs/swbd/ASR/local/compile_hlg.py
  egs/swbd/ASR/local/compile_lg.py
  egs/swbd/ASR/local/compute_fbank_eval2000.py
  egs/swbd/ASR/local/compute_fbank_swbd.py
  egs/swbd/ASR/local/convert_transcript_words_to_tokens.py
  egs/swbd/ASR/local/dict.patch
  egs/swbd/ASR/local/display_manifest_statistics.py
  egs/swbd/ASR/local/extend_segments.pl
  egs/swbd/ASR/local/filter_cuts.py
  egs/swbd/ASR/local/filter_empty_text.py
  egs/swbd/ASR/local/format_acronyms_dict.py
  egs/swbd/ASR/local/generate_unique_lexicon.py
  egs/swbd/ASR/local/map_acronyms_transcripts.py
  egs/swbd/ASR/local/normalize_and_filter_supervisions.py
  egs/swbd/ASR/local/normalize_eval2000.py
  egs/swbd/ASR/local/prepare_lang.py
  egs/swbd/ASR/local/prepare_lang_bpe.py
  egs/swbd/ASR/local/prepare_lm_training_data.py
  egs/swbd/ASR/local/rt03_data_prep.sh
  egs/swbd/ASR/local/sort_lm_training_data.py
  egs/swbd/ASR/local/swbd1_data_prep.sh
  egs/swbd/ASR/local/swbd1_map_words.pl
  egs/swbd/ASR/local/swbd1_prepare_dict.sh
  egs/swbd/ASR/local/train_bpe_model.py
  egs/swbd/ASR/local/validate_bpe_lexicon.py
  egs/swbd/ASR/prepare.sh
  egs/swbd/ASR/shared
  egs/swbd/ASR/utils/filter_scp.pl
  egs/swbd/ASR/utils/fix_data_dir.sh
  egs/swbd/ASR/utils/parse_options.sh
  egs/swbd/ASR/utils/spk2utt_to_utt2spk.pl
  egs/swbd/ASR/utils/utt2spk_to_spk2utt.pl
Labels: swbd

#1296 Zipformer update result
  README.md
  egs/librispeech/ASR/RESULTS.md
Labels: ready

#1254 Add Zipformer recipe for GigaSpeech
  .github/scripts/run-gigaspeech-zipformer-2023-10-17.sh
  .github/workflows/run-gigaspeech-zipformer-2023-10-17.yml
  README.md
  egs/gigaspeech/ASR/README.md
  egs/gigaspeech/ASR/RESULTS.md
  egs/gigaspeech/ASR/zipformer/asr_datamodule.py
  egs/gigaspeech/ASR/zipformer/beam_search.py
  egs/gigaspeech/ASR/zipformer/ctc_decode.py
  egs/gigaspeech/ASR/zipformer/decode.py
  egs/gigaspeech/ASR/zipformer/decode_stream.py
  egs/gigaspeech/ASR/zipformer/decoder.py
  egs/gigaspeech/ASR/zipformer/encoder_interface.py
  egs/gigaspeech/ASR/zipformer/export-onnx-ctc.py
  egs/gigaspeech/ASR/zipformer/export-onnx-streaming.py
  egs/gigaspeech/ASR/zipformer/export-onnx.py
  egs/gigaspeech/ASR/zipformer/export.py
  egs/gigaspeech/ASR/zipformer/gigaspeech_scoring.py
  egs/gigaspeech/ASR/zipformer/jit_pretrained.py
  egs/gigaspeech/ASR/zipformer/jit_pretrained_ctc.py
  egs/gigaspeech/ASR/zipformer/jit_pretrained_streaming.py
  egs/gigaspeech/ASR/zipformer/joiner.py
  egs/gigaspeech/ASR/zipformer/model.py
  egs/gigaspeech/ASR/zipformer/onnx_check.py
  egs/gigaspeech/ASR/zipformer/onnx_decode.py
  egs/gigaspeech/ASR/zipformer/onnx_pretrained-streaming.py
  egs/gigaspeech/ASR/zipformer/onnx_pretrained.py
  egs/gigaspeech/ASR/zipformer/onnx_pretrained_ctc.py
  egs/gigaspeech/ASR/zipformer/onnx_pretrained_ctc_H.py
  egs/gigaspeech/ASR/zipformer/onnx_pretrained_ctc_HL.py
  egs/gigaspeech/ASR/zipformer/onnx_pretrained_ctc_HLG.py
  egs/gigaspeech/ASR/zipformer/optim.py
  egs/gigaspeech/ASR/zipformer/pretrained.py
  egs/gigaspeech/ASR/zipformer/pretrained_ctc.py
  egs/gigaspeech/ASR/zipformer/profile.py
  egs/gigaspeech/ASR/zipformer/scaling.py
  egs/gigaspeech/ASR/zipformer/scaling_converter.py
  egs/gigaspeech/ASR/zipformer/streaming_beam_search.py
  egs/gigaspeech/ASR/zipformer/streaming_decode.py
  egs/gigaspeech/ASR/zipformer/subsampling.py
  egs/gigaspeech/ASR/zipformer/test_scaling.py
  egs/gigaspeech/ASR/zipformer/test_subsampling.py
  egs/gigaspeech/ASR/zipformer/train.py
  egs/gigaspeech/ASR/zipformer/zipformer.py
Labels: zipformer

#1216 Migrate zipformer model to other Chinese datasets
  .github/scripts/run-aishell-pruned-transducer-stateless3-2022-06-20.sh
  .github/scripts/run-aishell-zipformer-2023-10-24.sh
  .github/workflows/run-aishell-zipformer-2023-10-24.yml
  egs/aidatatang_200zh/ASR/prepare.sh
  egs/aidatatang_200zh/ASR/pruned_transducer_stateless2/asr_datamodule.py
  egs/aishell/ASR/README.md
  egs/aishell/ASR/RESULTS.md
  egs/aishell/ASR/prepare.sh
  egs/aishell/ASR/zipformer/__init__.py
  egs/aishell/ASR/zipformer/asr_datamodule.py
  egs/aishell/ASR/zipformer/beam_search.py
  egs/aishell/ASR/zipformer/decode.py
  egs/aishell/ASR/zipformer/decode_stream.py
  egs/aishell/ASR/zipformer/decoder.py
  egs/aishell/ASR/zipformer/encoder_interface.py
  egs/aishell/ASR/zipformer/export-onnx-streaming.py
  egs/aishell/ASR/zipformer/export-onnx.py
  egs/aishell/ASR/zipformer/export.py
  egs/aishell/ASR/zipformer/jit_pretrained.py
  egs/aishell/ASR/zipformer/jit_pretrained_streaming.py
  egs/aishell/ASR/zipformer/joiner.py
  egs/aishell/ASR/zipformer/model.py
  egs/aishell/ASR/zipformer/onnx_check.py
  egs/aishell/ASR/zipformer/onnx_decode.py
  egs/aishell/ASR/zipformer/onnx_pretrained-streaming.py
  egs/aishell/ASR/zipformer/onnx_pretrained.py
  egs/aishell/ASR/zipformer/optim.py
  egs/aishell/ASR/zipformer/pretrained.py
  egs/aishell/ASR/zipformer/scaling.py
  egs/aishell/ASR/zipformer/scaling_converter.py
  egs/aishell/ASR/zipformer/streaming_beam_search.py
  egs/aishell/ASR/zipformer/streaming_decode.py
  egs/aishell/ASR/zipformer/subsampling.py
  egs/aishell/ASR/zipformer/train.py
  egs/aishell/ASR/zipformer/zipformer.py
  egs/aishell2/ASR/README.md
  egs/aishell2/ASR/RESULTS.md
  egs/aishell2/ASR/prepare.sh
  egs/aishell4/ASR/README.md
  egs/aishell4/ASR/prepare.sh
  egs/aishell4/ASR/pruned_transducer_stateless5/asr_datamodule.py
  egs/aishell4/ASR/pruned_transducer_stateless5/local
Labels: zipformer

#1313 Support CTC decoding for `multi-zh_hans` recipe
  .github/scripts/run-multi-zh_hans-zipformer.sh
  .github/workflows/run-multi-zh_hans-zipformer.yml
  egs/multi_zh-hans/ASR/RESULTS.md
  egs/multi_zh-hans/ASR/zipformer/ctc_decode.py
Labels: multi-zh_hans

#941 [recipe] LibriSpeech zipformer_ctc
  egs/librispeech/ASR/README.md
  egs/librispeech/ASR/RESULTS.md
  egs/librispeech/ASR/zipformer_ctc/__init__.py
  egs/librispeech/ASR/zipformer_ctc/asr_datamodule.py
  egs/librispeech/ASR/zipformer_ctc/decode.py
  egs/librispeech/ASR/zipformer_ctc/decoder.py
  egs/librispeech/ASR/zipformer_ctc/encoder_interface.py
  egs/librispeech/ASR/zipformer_ctc/export.py
  egs/librispeech/ASR/zipformer_ctc/label_smoothing.py
  egs/librispeech/ASR/zipformer_ctc/model.py
  egs/librispeech/ASR/zipformer_ctc/optim.py
  egs/librispeech/ASR/zipformer_ctc/scaling.py
  egs/librispeech/ASR/zipformer_ctc/scaling_converter.py
  egs/librispeech/ASR/zipformer_ctc/subsampling.py
  egs/librispeech/ASR/zipformer_ctc/train.py
  egs/librispeech/ASR/zipformer_ctc/transformer.py
  egs/librispeech/ASR/zipformer_ctc/zipformer.py
Labels: ready
