Repository k2-fsa/icefall, pull requests merged in 2023-02, with the labels that each got.

#831 Add streaming onnx export for zipformer
  .github/scripts/run-librispeech-pruned-transducer-stateless7-streaming-2022-12-29.sh
  .github/workflows/run-librispeech-2022-12-29-stateless7-streaming.yml
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming/export.py
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming/onnx_model_wrapper.py
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming/zipformer.py
  requirements-ci.txt
Labels: ready, onnx

#879 Refactor onnx export for streaming zipformer
  .github/scripts/run-librispeech-pruned-transducer-stateless7-streaming-2022-12-29.sh
  .github/scripts/test-onnx-export.sh
  .github/workflows/test-onnx-export.yml
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming/export-onnx.py
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming/onnx_check.py
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming/onnx_model_wrapper.py
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming/onnx_pretrained.py
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming/zipformer.py
Labels: onnx

#881 Simplify ONNX export
  .github/scripts/run-librispeech-pruned-transducer-stateless3-2022-05-13.sh
  .github/scripts/test-onnx-export.sh
  .github/workflows/run-librispeech-pruned-transducer-stateless3-2022-05-13.yml
  egs/librispeech/ASR/pruned_transducer_stateless2/joiner.py
  egs/librispeech/ASR/pruned_transducer_stateless3/export-onnx.py
  egs/librispeech/ASR/pruned_transducer_stateless3/export.py
  egs/librispeech/ASR/pruned_transducer_stateless3/onnx_check.py
  egs/librispeech/ASR/pruned_transducer_stateless3/onnx_pretrained.py
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming/export-onnx.py
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming/onnx_check.py
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming/onnx_pretrained.py
Labels: onnx

#913 Add CI test for exporting csj pretrained zipformer to ncnn
  .github/scripts/test-ncnn-export.sh
Labels: ncnn
