Repository k2-fsa/icefall, pull requests merged in 2023-11, with the labels that each got.

#1386 Rename train2.py to avoid confusion
  .github/scripts/run-multi-zh_hans-zipformer.sh
  egs/aishell/ASR/prepare.sh
  egs/aishell/ASR/pruned_transducer_stateless7/do_not_use_it_directly.py
  egs/aishell/ASR/pruned_transducer_stateless7/export-onnx.py
  egs/aishell/ASR/pruned_transducer_stateless7_streaming/do_not_use_it_directly.py
  egs/commonvoice/ASR/pruned_transducer_stateless7_streaming/README.md
  egs/commonvoice/ASR/pruned_transducer_stateless7_streaming/do_not_use_it_directly.py
  egs/csj/ASR/pruned_transducer_stateless7_streaming/do_not_use_it_directly.py
  egs/csj/ASR/pruned_transducer_stateless7_streaming/export-for-ncnn.py
  egs/librispeech/ASR/conv_emformer_transducer_stateless2/do_not_use_it_directly.py
  egs/librispeech/ASR/conv_emformer_transducer_stateless2/export-for-ncnn.py
  egs/librispeech/ASR/conv_emformer_transducer_stateless2/export-onnx.py
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming/README.md
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming/do_not_use_it_directly.py
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming/export-for-ncnn-zh.py
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming/export-for-ncnn.py
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming_multi/do_not_use_it_directly.py
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming_multi/export-for-ncnn.py
  egs/librispeech/ASR/pruned_transducer_stateless7_streaming_multi/train2.py
Labels: ready, multi-zh_hans

#1265 a bilingual recipe similar to the `multi-zh_hans`
  .github/scripts/run-multi-corpora-zipformer.sh
  .github/workflows/run-multi-corpora-zipformer.yml
  egs/multi_zh_en/ASR/README.md
  egs/multi_zh_en/ASR/RESULTS.md
  egs/multi_zh_en/ASR/local/compile_lg.py
  egs/multi_zh_en/ASR/local/prepare_char.py
  egs/multi_zh_en/ASR/local/prepare_for_bpe_model.py
  egs/multi_zh_en/ASR/local/prepare_lang.py
  egs/multi_zh_en/ASR/local/prepare_lang_bbpe.py
  egs/multi_zh_en/ASR/local/prepare_lang_bpe.py
  egs/multi_zh_en/ASR/local/prepare_words.py
  egs/multi_zh_en/ASR/local/text2segments.py
  egs/multi_zh_en/ASR/local/text2token.py
  egs/multi_zh_en/ASR/local/train_bbpe_model.py
  egs/multi_zh_en/ASR/local/validate_bpe_lexicon.py
  egs/multi_zh_en/ASR/prepare.sh
  egs/multi_zh_en/ASR/shared
  egs/multi_zh_en/ASR/zipformer/asr_datamodule.py
  egs/multi_zh_en/ASR/zipformer/beam_search.py
  egs/multi_zh_en/ASR/zipformer/decode.py
  egs/multi_zh_en/ASR/zipformer/decoder.py
  egs/multi_zh_en/ASR/zipformer/encoder_interface.py
  egs/multi_zh_en/ASR/zipformer/export-onnx-streaming.py
  egs/multi_zh_en/ASR/zipformer/export-onnx.py
  egs/multi_zh_en/ASR/zipformer/export.py
  egs/multi_zh_en/ASR/zipformer/generate_averaged_model.py
  egs/multi_zh_en/ASR/zipformer/jit_pretrained.py
  egs/multi_zh_en/ASR/zipformer/jit_pretrained_ctc.py
  egs/multi_zh_en/ASR/zipformer/jit_pretrained_streaming.py
  egs/multi_zh_en/ASR/zipformer/joiner.py
  egs/multi_zh_en/ASR/zipformer/model.py
  egs/multi_zh_en/ASR/zipformer/multi_dataset.py
  egs/multi_zh_en/ASR/zipformer/onnx_check.py
  egs/multi_zh_en/ASR/zipformer/onnx_decode.py
  egs/multi_zh_en/ASR/zipformer/onnx_pretrained-streaming.py
  egs/multi_zh_en/ASR/zipformer/onnx_pretrained.py
  egs/multi_zh_en/ASR/zipformer/optim.py
  egs/multi_zh_en/ASR/zipformer/pretrained.py
  egs/multi_zh_en/ASR/zipformer/scaling.py
  egs/multi_zh_en/ASR/zipformer/scaling_converter.py
  egs/multi_zh_en/ASR/zipformer/streaming_beam_search.py
  egs/multi_zh_en/ASR/zipformer/streaming_decode.py
  egs/multi_zh_en/ASR/zipformer/subsampling.py
  egs/multi_zh_en/ASR/zipformer/train.py
  egs/multi_zh_en/ASR/zipformer/zipformer.py
Labels: multi-corpora

#1372 Add a TTS recipe VITS on LJSpeech dataset
  .flake8
  docs/source/recipes/TTS/index.rst
  docs/source/recipes/TTS/ljspeech/vits.rst
  docs/source/recipes/index.rst
  egs/ljspeech/TTS/local/compute_spectrogram_ljspeech.py
  egs/ljspeech/TTS/local/display_manifest_statistics.py
  egs/ljspeech/TTS/local/prepare_token_file.py
  egs/ljspeech/TTS/local/prepare_tokens_ljspeech.py
  egs/ljspeech/TTS/local/validate_manifest.py
  egs/ljspeech/TTS/prepare.sh
  egs/ljspeech/TTS/shared/parse_options.sh
  egs/ljspeech/TTS/vits/README.md
  egs/ljspeech/TTS/vits/duration_predictor.py
  egs/ljspeech/TTS/vits/export-onnx.py
  egs/ljspeech/TTS/vits/flow.py
  egs/ljspeech/TTS/vits/generator.py
  egs/ljspeech/TTS/vits/hifigan.py
  egs/ljspeech/TTS/vits/infer.py
  egs/ljspeech/TTS/vits/loss.py
  egs/ljspeech/TTS/vits/monotonic_align/__init__.py
  egs/ljspeech/TTS/vits/monotonic_align/core.pyx
  egs/ljspeech/TTS/vits/monotonic_align/setup.py
  egs/ljspeech/TTS/vits/posterior_encoder.py
  egs/ljspeech/TTS/vits/residual_coupling.py
  egs/ljspeech/TTS/vits/test_onnx.py
  egs/ljspeech/TTS/vits/text_encoder.py
  egs/ljspeech/TTS/vits/tokenizer.py
  egs/ljspeech/TTS/vits/train.py
  egs/ljspeech/TTS/vits/transform.py
  egs/ljspeech/TTS/vits/tts_datamodule.py
  egs/ljspeech/TTS/vits/utils.py
  egs/ljspeech/TTS/vits/vits.py
  egs/ljspeech/TTS/vits/wavenet.py
  pyproject.toml
Labels: ready
